{
  /* https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48 */
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "plugins": [
    "mocha",
	"import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
	"plugin:import/errors",
    "plugin:import/warnings"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "sourceType": "module",
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true
  },
  "rules": {
    "strict": 0,
    "bitwise": 0,
    "curly": 0,
    "eqeqeq": 0,
    "camelcase": 0,
    "dot-notation": 0,
    "eol-last": 0,
    "no-console": 0,
    "no-mixed-requires": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-undef": 2,
    "no-undef-init": 0,
    "no-extra-strict": 0,
    "no-unused-vars": 0,
    "no-unsafe-finally": 0,
    "no-loop-func": 0,
    "comma-spacing": 0,
    "quotes": 0,
    "space-infix-ops": 0,
    "keyword-spacing": 0,
    "semi-spacing": 0,
    "no-trailing-spaces": 1,
    "no-multi-spaces": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-extra-semi": 0,

    "import/no-unresolved": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 1,
    "import/export": 2,

	"mocha/no-exclusive-tests": "error",
    "mocha/no-skipped-tests": 0,
    "mocha/no-pending-tests": 0,
    "mocha/handle-done-callback": 0,
    "mocha/no-synchronous-tests": 0,
    "mocha/no-global-tests": 0,
    "mocha/valid-test-description": 0,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"]
  },
  "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true
  },
  "globals": {
    "Rx",
    "debug",
    "__DEV__": true
  }
}



























